@import './variables.css';

.single-event {
  background-color: rgba(40, 137, 233, 0.5);
  background-image: url(https://www.transparenttextures.com/patterns/cross-scratches.png);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;
  border-bottom: 1px solid var(--yellow);
  margin: 10px 0;
  padding: 10px;
  margin-bottom: 3em;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.single-event-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;

}

.single-event-details > * {
  margin: 0;
  padding: 0;

}

.single-event-thumbnail {
  width: 200px;
  height: auto;
  align-self: center;
  border: 2px solid var(--yellow);
  margin: 0;
}

.single-event-artist {
  text-shadow: 1px 1px 2px white;
}

.single-event-tickets-button {
  background-color: var(--yellow);
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.single-event-tickets-button:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
}

.single-event-tickets {
  color: var(--black);
  text-decoration: none;
}

.hr-thin {
  color: var(--yellow);
  height: 1px;

}

.hr-bold {
  background-color: var(--yellow);
  height: 7px;
  border: none;

}

.fa, .fas, .far {
  margin-right: 5px;
}