:root {
  --yellow: #ffc601;
  --darkGrey: #272726;
  --black: #06070C;
}


main {
  width: 100vw;
  background-color: #ffffff;
  color: var(--black);
  display: grid;
  grid-template-columns: 3fr 12fr 5fr;
  grid-gap: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.events-list {
  display: grid;
  grid-column: 2 / 3;
}

h1 {
  font-family: 'Gloria Hallelujah', sans-serif !important;
  font-size: 4.236em;
}

h2 {
  font-family: 'Gloria Hallelujah', sans-serif !important;
  font-size: 2.618em;
}
